In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
df=pd.read_csv('202404-divvy-tripdata.csv')

In [62]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,743252713F32516B,classic_bike,2024-04-22 19:08:21,2024-04-22 19:12:56,Aberdeen St & Jackson Blvd,13157,Desplaines St & Jackson Blvd,15539,41.877726,-87.654787,41.878119,-87.643948,member
1,BE90D33D2240C614,electric_bike,2024-04-11 06:19:24,2024-04-11 06:22:21,Aberdeen St & Jackson Blvd,13157,Desplaines St & Jackson Blvd,15539,41.877722,-87.654959,41.878119,-87.643948,member
2,D47BBDDE7C40DD61,classic_bike,2024-04-20 11:13:13,2024-04-20 11:29:31,Sheridan Rd & Montrose Ave,TA1307000107,Ashland Ave & Belle Plaine Ave,13249,41.961670,-87.654640,41.956057,-87.668835,member
3,6684E760BF9EA9B5,classic_bike,2024-04-04 18:39:20,2024-04-04 18:43:06,Aberdeen St & Jackson Blvd,13157,Desplaines St & Jackson Blvd,15539,41.877726,-87.654787,41.878119,-87.643948,member
4,CA9EFC0D24C24A27,electric_bike,2024-04-19 19:30:20,2024-04-19 20:07:42,Sheridan Rd & Montrose Ave,TA1307000107,Stetson Ave & South Water St,TA1308000029,41.961613,-87.654615,41.886835,-87.622320,member

In [41]:
df.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    74793
start_station_id      74793
end_station_name      78519
end_station_id        78519
start_lat                 0
start_lng                 0
end_lat                 479
end_lng                 479
member_casual             0
dtype: int64

In [63]:
df["start_station_name"].isna().sum()

74793

In [64]:
len(df["start_station_name"])

415025

In [65]:
df["start_station_name"].isna().sum()/len(df["start_station_name"]) *100

18.021324016625503

In [66]:
df.drop(["start_station_id","end_station_id"] , axis=1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,743252713F32516B,classic_bike,2024-04-22 19:08:21,2024-04-22 19:12:56,Aberdeen St & Jackson Blvd,Desplaines St & Jackson Blvd,41.877726,-87.654787,41.878119,-87.643948,member
1,BE90D33D2240C614,electric_bike,2024-04-11 06:19:24,2024-04-11 06:22:21,Aberdeen St & Jackson Blvd,Desplaines St & Jackson Blvd,41.877722,-87.654959,41.878119,-87.643948,member
2,D47BBDDE7C40DD61,classic_bike,2024-04-20 11:13:13,2024-04-20 11:29:31,Sheridan Rd & Montrose Ave,Ashland Ave & Belle Plaine Ave,41.961670,-87.654640,41.956057,-87.668835,member
3,6684E760BF9EA9B5,classic_bike,2024-04-04 18:39:20,2024-04-04 18:43:06,Aberdeen St & Jackson Blvd,Desplaines St & Jackson Blvd,41.877726,-87.654787,41.878119,-87.643948,member
4,CA9EFC0D24C24A27,electric_bike,2024-04-19 19:30:20,2024-04-19 20:07:42,Sheridan Rd & Montrose Ave,Stetson Ave & South Water St,41.961613,-87.654615,41.886835,-87.622320,member
...,...,...,...,...,...,...,...,...,...,...,...
415020,5E41443305C3B8A0,classic_bike,2024-04-06 13:40:56,2024-04-07 14:40:49,Clark St & Lincoln Ave,NaN,41.915689,-87.634600,NaN,NaN,casual
415021,50A275230D6C0492,classic_bike,2024-04-01 19:03:43,2024-04-01 19:13:16,California Ave & Cortez St,California Ave & Milwaukee Ave,41.900363,-87.696704,41.922695,-87.697153,member
415022,A88F756403FBF27F,electric_bike,2024-04-11 16:09:50,2024-04-11 16:26:07,Clinton St & Washington Blvd,NaN,41.883498,-87.641576,41.910000,-87.680000,member
415023,DFD402AC5915F136,electric_bike,2024-04-19 07:20:28,2024-04-19 07:30:05,Clinton St & Washington Blvd,NaN,41.883169,-87.641127,41.890000,-87.620000,member
415024,61F035E8DCBB5313,electric_bike,2024-04-16 15:53:32,2024-04-16 16:15:20,Clinton St & Washington Blvd,NaN,41.883394,-87.641219,41.920000,-87.660000,member

In [67]:
df.shape

(415025, 13)

In [68]:
df1=df.set_index("ride_id")

In [58]:
df1

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
ride_id,,,,,,,,,,,,
743252713F32516B,classic_bike,2024-04-22 19:08:21,2024-04-22 19:12:56,Aberdeen St & Jackson Blvd,13157,Desplaines St & Jackson Blvd,15539,41.877726,-87.654787,41.878119,-87.643948,member
BE90D33D2240C614,electric_bike,2024-04-11 06:19:24,2024-04-11 06:22:21,Aberdeen St & Jackson Blvd,13157,Desplaines St & Jackson Blvd,15539,41.877722,-87.654959,41.878119,-87.643948,member
D47BBDDE7C40DD61,classic_bike,2024-04-20 11:13:13,2024-04-20 11:29:31,Sheridan Rd & Montrose Ave,TA1307000107,Ashland Ave & Belle Plaine Ave,13249,41.961670,-87.654640,41.956057,-87.668835,member
6684E760BF9EA9B5,classic_bike,2024-04-04 18:39:20,2024-04-04 18:43:06,Aberdeen St & Jackson Blvd,13157,Desplaines St & Jackson Blvd,15539,41.877726,-87.654787,41.878119,-87.643948,member
CA9EFC0D24C24A27,electric_bike,2024-04-19 19:30:20,2024-04-19 20:07:42,Sheridan Rd & Montrose Ave,TA1307000107,Stetson Ave & South Water St,TA1308000029,41.961613,-87.654615,41.886835,-87.622320,member
...,...,...,...,...,...,...,...,...,...,...,...,...
5E41443305C3B8A0,classic_bike,2024-04-06 13:40:56,2024-04-07 14:40:49,Clark St & Lincoln Ave,13179,NaN,NaN,41.915689,-87.634600,NaN,NaN,casual
50A275230D6C0492,classic_bike,2024-04-01 19:03:43,2024-04-01 19:13:16,California Ave & Cortez St,17660,California Ave & Milwaukee Ave,13084,41.900363,-87.696704,41.922695,-87.697153,member
A88F756403FBF27F,electric_bike,2024-04-11 16:09:50,2024-04-11 16:26:07,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883498,-87.641576,41.910000,-87.680000,member
DFD402AC5915F136,electric_bike,2024-04-19 07:20:28,2024-04-19 07:30:05,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883169,-87.641127,41.890000,-87.620000,member
61F035E8DCBB5313,electric_bike,2024-04-16 15:53:32,2024-04-16 16:15:20,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883394,-87.641219,41.920000,-87.660000,member

In [59]:
df1.loc["D47BBDDE7C40DD61"]

rideable_type                           classic_bike
started_at                       2024-04-20 11:13:13
ended_at                         2024-04-20 11:29:31
start_station_name        Sheridan Rd & Montrose Ave
start_station_id                        TA1307000107
end_station_name      Ashland Ave & Belle Plaine Ave
end_station_id                                 13249
start_lat                                   41.96167
start_lng                                  -87.65464
end_lat                                    41.956057
end_lng                                   -87.668835
member_casual                                 member
Name: D47BBDDE7C40DD61, dtype: object

In [69]:
df2 = df1[["rideable_type", "started_at", "ended_at", "member_casual"]]

In [70]:
df2

,rideable_type,started_at,ended_at,member_casual
ride_id,,,,
743252713F32516B,classic_bike,2024-04-22 19:08:21,2024-04-22 19:12:56,member
BE90D33D2240C614,electric_bike,2024-04-11 06:19:24,2024-04-11 06:22:21,member
D47BBDDE7C40DD61,classic_bike,2024-04-20 11:13:13,2024-04-20 11:29:31,member
6684E760BF9EA9B5,classic_bike,2024-04-04 18:39:20,2024-04-04 18:43:06,member
CA9EFC0D24C24A27,electric_bike,2024-04-19 19:30:20,2024-04-19 20:07:42,member
...,...,...,...,...
5E41443305C3B8A0,classic_bike,2024-04-06 13:40:56,2024-04-07 14:40:49,casual
50A275230D6C0492,classic_bike,2024-04-01 19:03:43,2024-04-01 19:13:16,member
A88F756403FBF27F,electric_bike,2024-04-11 16:09:50,2024-04-11 16:26:07,member
DFD402AC5915F136,electric_bike,2024-04-19 07:20:28,2024-04-19 07:30:05,member
61F035E8DCBB5313,electric_bike,2024-04-16 15:53:32,2024-04-16 16:15:20,member

In [72]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 415025 entries, 743252713F32516B to 61F035E8DCBB5313
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   rideable_type  415025 non-null  object
 1   started_at     415025 non-null  object
 2   ended_at       415025 non-null  object
 3   member_casual  415025 non-null  object
dtypes: object(4)
memory usage: 15.8+ MB

In [73]:
df3 = df2[(df2["started_at"] >= "2024-04-08") & (df2["ended_at"] <= "2024-04-15")]

In [74]:
df3

,rideable_type,started_at,ended_at,member_casual
ride_id,,,,
BE90D33D2240C614,electric_bike,2024-04-11 06:19:24,2024-04-11 06:22:21,member
AA64319F52336324,classic_bike,2024-04-10 16:27:08,2024-04-10 16:32:16,member
59F25CB1AAC309BA,electric_bike,2024-04-11 18:24:09,2024-04-11 18:30:11,member
5D436A9465AF4900,classic_bike,2024-04-10 17:19:17,2024-04-10 17:25:01,member
3CBBFE05C8E0C34C,classic_bike,2024-04-12 22:43:02,2024-04-12 22:55:16,member
...,...,...,...,...
BE0071DAECD43073,electric_bike,2024-04-12 15:02:53,2024-04-12 15:05:50,member
86BFB9971EB78EDD,electric_bike,2024-04-08 05:40:20,2024-04-08 05:44:41,member
0C8EDF776A6A2180,electric_bike,2024-04-08 17:38:51,2024-04-08 17:49:15,member
A760201A6D54480C,electric_bike,2024-04-08 11:23:04,2024-04-08 11:34:48,member
A88F756403FBF27F,electric_bike,2024-04-11 16:09:50,2024-04-11 16:26:07,member

In [75]:
len(df3)

119335

In [76]:
df4 =df3.groupby("rideable_type").count()

In [77]:
df4

               started_at  ended_at  member_casual
rideable_type
classic_bike        56523     56523          56523
electric_bike       62812     62812          62812

In [78]:
cb_number = df4.iloc[0]["started_at"]

In [79]:
cb_number

56523

In [81]:
cb_percent = (cb_number / len(df3)) * 100

In [82]:
cb_percent

47.364980936020444

In [85]:
round(cb_percent, 4)

47.365

In [86]:
eb_number = df4.iloc[1]["started_at"]

In [87]:
eb_number

62812

In [89]:
eb_percent = (eb_number/len(df3)) * 100

In [91]:
round(eb_percent, 4)

52.635

In [93]:
df5 = df3.groupby("member_casual").count()

In [94]:
df5

               rideable_type  started_at  ended_at
member_casual
casual                 43178       43178     43178
member                 76157       76157     76157

In [96]:
casual_number = df5.iloc[0]["started_at"]

In [97]:
casual_number

43178

In [98]:
member_number = df5.iloc[1]["started_at"]

In [99]:
member_number

76157

In [100]:
casual_percent =  (casual_number/len(df3)) * 100

In [102]:
round(casual_percent,4)

36.1822

In [103]:
member_percent = (member_number/len(df3)) *100

In [105]:
round(member_percent,4)

63.8178